---
import ParticleLayout from '../layouts/ParticleLayout.astro';
import MeCard from '../components/me/MeCard.svelte';
import CardContacts from '../components/me/CardContacts.astro';
import CardNavigation from '../components/me/CardNavigation.astro';
import {Image} from 'astro:assets';
import sk from '../images/people/sk.jpeg';
import Shlink from '../components/common/Shlink.astro';
import { AstroSeo } from '@astrolib/seo';
---

<ParticleLayout title="Stefán Kornél">
	<AstroSeo
		slot="head"
		title="Contact"
		description="Contact details of SK"
		twitter={{
			cardType: 'summary',
		}}
		openGraph={{
			type: 'website',
			locale: 'en',
			site_name: 'skornel02',
		}}
	/>

	<main class="container mx-auto pt-4">
		<Shlink />
		<MeCard client:load>
			<Image src={sk} alt="Kornél portray" width={160} height={160} slot="face" />
			<CardContacts slot="contacts" />
			<CardNavigation home={true} card={true} slot="navigation" />
		</MeCard>
	</main>
</ParticleLayout>

<style>
	.container {
		min-height: 540px;
	}
</style>
