{
	"useTabs": true,
	"singleQuote": true,
	"semi": true,
	"trailingComma": "es5",
	"printWidth": 100,
	"quoteProps": "consistent",
	"bracketSpacing": false,
	"bracketSameLine": true,
	"arrowParens": "always",
	"plugins": ["prettier-plugin-astro"],
	"overrides": [
		{
			"files": "*.astro",
			"options": {
				"parser": "astro"
			}
		}
	]
}
