---
import businessCardFront from 'card/dist/business-card-front.svg';
import businessCardBack from 'card/dist/business-card-back.svg';

const businessCardFrontSrc = businessCardFront.src;
const businessCardBackSrc = businessCardBack.src;
---

<div class="card-container flex justify-center">
	<div class="indicator">
		<span class="indicator-item indicator-center badge badge-primary">Click to flip!</span>
		<label class="swap swap-flip text-9xl">
			<input type="checkbox" />

			<div class="swap-off">
				<img src={businessCardFrontSrc} alt="Frontside of business card" />
			</div>
			<div class="swap-on"><img src={businessCardBackSrc} alt="Backside of business card" /></div>
		</label>
	</div>
</div>

<style>
	img {
		width: auto;
		height: 100%;
		max-width: unset;
	}
</style>
