---
import Icon from 'astro-icon';

interface Props {
	home?: boolean;
	details?: boolean;
	card?: Boolean;
}

const {home = false, details = false, card = false} = Astro.props;
---

<div class="flex justify-center">
	<div class="join">
		{
			card && (
				<a
					id="home"
					href="/business-card"
					class="btn btn-outline btn-secondary hover:bg-primary join-item">
					<Icon name="mdi:qrcode" height="32px" />
				</a>
			)
		}
		{
			details && (
				<a id="details" href="/me" class="btn btn-outline btn-secondary hover:bg-primary join-item">
					<Icon name="mdi:account-details" height="32px" />
				</a>
			)
		}
		{
			home && (
				<a
					id="home"
					href="/"
					class="btn btn-outline btn-primary hover:bg-primary join-item"
					data-sveltekit-reload>
					<Icon name="mdi:home" height="32px" />
				</a>
			)
		}
	</div>
</div>
