---
import {Icon} from 'astro-icon';
import Shlink from '../common/Shlink.astro';
---

<footer
	class="footer footer-center p-4 bg-base-200 dark:bg-gray-800 dark:text-white text-base-content mt-auto flex justify-center items-center">
	<p>Have a nice day!</p>
	<p>{new Date().getFullYear()}©</p>
	<a href="/rss.xml" data-astro-reload>
		<Icon name="mdi:rss-box" />
	</a>
	<Shlink path={Astro.url.pathname}/>
</footer>

<style>
	[astro-icon] {
		display: inline;
		color: orange;
		height: 14px;
	}
</style>
