---
import {Image} from 'astro:assets';
import NavigationItems from './NavigationItems.astro';
import sk from '../../images/people/sk.jpeg';

interface Props {
	pageTitle: string;
	useFace?: boolean;
}

const {pageTitle, useFace = false} = Astro.props;


---

<div class="drawer lg:drawer-open">
	<input id="navbar-drawer" type="checkbox" class="drawer-toggle" />
	<div class="drawer-content flex flex-col">
		<!-- Top navigation bar -->
		<div class="w-full navbar bg-primary flex lg:hidden">
			<div class="flex-1 ml-2 normal-case text-background text-2xl">{pageTitle}</div>

			<!-- Partial navigation (sm-lg) -->
			<div class="flex-none sm:block lg:hidden">
				<ul class="menu menu-horizontal">
					<NavigationItems />
				</ul>
			</div>
		</div>

		<slot />
	</div>
	<!-- Navigation static sidebar (lg-) -->
	<div class="drawer-side">
		<label for="navbar-drawer" class="drawer-overlay"></label>
		<div class="min-h-full w-72 bg-primary flex flex-col justify-center">
			<div>
				<div
					class="ml-2 my-auto flex-1 lg:my-0 lg:mx-auto lg:flex-grow-0 flex justify-center">
					{
						useFace ? (
							<Image
								src={sk}
								alt="Kornél portray"
								class="mask mask-squircle"
								width={160}
								height={160}
							/>
						) : (
							<span class="normal-case text-background text-4xl text-center">{pageTitle}</span>
						)
					}
				</div>
			</div>
			<ul class="menu menu-lg p-4 w-full">
				<NavigationItems />
			</ul>
		</div>
	</div>
</div>
