:where(h1, h2, h3, h4, h5, h6) {
    .icon-link {
        position: relative;

        &::before {
            content: '#';
            position: absolute;
            left: -1rem;
            top: 0;
            line-height: 1em;
            opacity: 0;
            text-decoration: underline;
        }
    }

    &:hover .icon-link::before {
        opacity: 1;
    }
}