---
import {Icon} from 'astro-icon';
---

<ul class="flex flex-wrap gap-4">
	<li>
		<Icon name="logos:arduino" />
	</li>
	<li>
		<Icon name="logos:bootstrap" />
	</li>
	<li>
		<Icon name="logos:c-sharp" />
	</li>
	<li>
		<Icon name="logos:html-5" />
	</li>
	<li>
		<Icon name="logos:css-3" />
	</li>
	<li>
		<Icon name="logos:javascript" />
	</li>
	<li>
		<Icon name="logos:typescript-icon" />
	</li>
	<li>
		<Icon name="logos:figma" />
	</li>
	<li>
		<Icon name="logos:tailwindcss-icon" />
	</li>
	<li>
		<Icon name="logos:flutter" />
	</li>
	<li>
		<Icon name="logos:git-icon" />
	</li>
	<li>
		<Icon name="logos:java" />
	</li>
	<li>
		<Icon name="logos:postman-icon" />
	</li>
	<li>
		<Icon name="logos:react" />
	</li>
	<li>
		<Icon name="logos:svelte-icon" />
	</li>
	<li>
		<Icon name="logos:rust" />
	</li>
	<li>
		<Icon name="logos:spring-icon" />
	</li>
	<li>
		<Icon name="logos:dotnet" />
	</li>
</ul>

<style>
	[astro-icon] {
		width: 40px;
		height: 40px;
	}
</style>
