/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */

@import 'bootstrap/scss/root';

@import 'bootstrap/scss/reboot';

@import 'bootstrap/scss/type';

@import 'bootstrap/scss/accordion';

// @import 'bootstrap/scss/alert';

@import 'bootstrap/scss/badge';

// @import 'bootstrap/scss/breadcrumb';

@import 'bootstrap/scss/buttons';

@import 'bootstrap/scss/button-group';

@import 'bootstrap/scss/card';

@import 'bootstrap/scss/carousel';

@import 'bootstrap/scss/close';

@import 'bootstrap/scss/containers';

// @import 'bootstrap/scss/dropdown';

// @import 'bootstrap/scss/forms';

@import 'bootstrap/scss/grid';

@import 'bootstrap/scss/images';

@import 'bootstrap/scss/list-group';

@import 'bootstrap/scss/modal';

@import 'bootstrap/scss/nav';

@import 'bootstrap/scss/navbar';

// @import 'bootstrap/scss/offcanvas';

@import 'bootstrap/scss/pagination';

@import 'bootstrap/scss/popover';

// @import 'bootstrap/scss/progress';

@import 'bootstrap/scss/spinners';

@import 'bootstrap/scss/tables';

@import 'bootstrap/scss/toasts';

@import 'bootstrap/scss/tooltip';

@import 'bootstrap/scss/helpers';

@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/utilities/api';

@import '@fontsource/fira-mono';

/* Stuff */

html[data-theme="light"] {
	--color-background: #ffffff;
	--color-primary: #{$primary-color};
	--color-secondary: #{$secondary-color};
	--color-title: #{$title-color};
	--color-text: #{$text-color};
}

html[data-theme="dark"] {
	--color-background: #000000;
	--color-primary: #{$dark-primary-color};
	--color-secondary: #{$dark-secondary-color};
	--color-title: #{$dark-title-color};
	--color-text: #{$dark-text-color};

	.btn-outline-dark {
		color: var(--color-title);
		border-color: var(--color-text);
	}
}

body {
	font-family: 'Open Sans', serif;
	padding-top: 54px;
	color: var(--color-text);
	background-color: var(--color-background);
}
@media (min-width: 992px) {
	body {
		padding-top: 0;
		padding-left: 17rem;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Saira Extra Condensed', serif;
	font-weight: 700;
	text-transform: uppercase;
	color: var(--color-title);
}
.subheading {
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Saira Extra Condensed', serif;
	font-size: 1.35rem;
}
.list-social-icons a {
	color: var(--color-title);
}
.list-social-icons a:hover {
	color: var(--color-primary);
}
.list-social-icons a .fa-lg {
	font-size: 1.75rem;
}
.list-icons {
	font-size: 3rem;
}
.list-icons .list-inline-item i:hover {
	color: var(--color-primary);
}
.bg-primary {
	background-color: var(--color-primary) !important;
}
.text-primary {
	color: var(--color-primary) !important;
}
.btn-outline-primary {
	color: var(--color-primary);
	border-color: var(--color-primary);
}

.bg-secondary {
	background-color: var(--color-secondary) !important;
}
.text-secondary {
	color: var(--color-secondary) !important;
}
.btn-outline-secondary {
	color: var(--color-secondary);
	border-color: var(--color-secondary);
}

a {
	color: var(--color-primary);
}
a:active,
a:focus,
a:hover {
	color: var(--color-secondary);
}

/* Boostrap darkmode fix */

.card {
	background-color: var(--color-background);
	border-color: var(--color-title);
}

.list-group-item {
	background-color: var(--color-background);
	border-color: var(--color-text);
	color: var(--color-title);
}