/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */

@import 'bootstrap/scss/root';

@import 'bootstrap/scss/reboot';

@import 'bootstrap/scss/type';

@import 'bootstrap/scss/accordion';

// @import 'bootstrap/scss/alert';

@import 'bootstrap/scss/badge';

// @import 'bootstrap/scss/breadcrumb';

@import 'bootstrap/scss/buttons';

@import 'bootstrap/scss/button-group';

@import 'bootstrap/scss/card';

@import 'bootstrap/scss/carousel';

@import 'bootstrap/scss/close';

@import 'bootstrap/scss/containers';

// @import 'bootstrap/scss/dropdown';

@import 'bootstrap/scss/forms';

@import 'bootstrap/scss/grid';

@import 'bootstrap/scss/images';

@import 'bootstrap/scss/list-group';

@import 'bootstrap/scss/modal';

@import 'bootstrap/scss/nav';

@import 'bootstrap/scss/navbar';

// @import 'bootstrap/scss/offcanvas';

@import 'bootstrap/scss/pagination';

@import 'bootstrap/scss/popover';

// @import 'bootstrap/scss/progress';

@import 'bootstrap/scss/spinners';

@import 'bootstrap/scss/tables';

@import 'bootstrap/scss/toasts';

@import 'bootstrap/scss/tooltip';

@import 'bootstrap/scss/helpers';

@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/utilities/api';

@import '@fontsource/fira-mono';

/* Stuff */

:root {
	--color-background: #{$background-color};
	--color-primary: #{$primary-color};
	--color-secondary: #{$secondary-color};
	--color-title: #{$title-color};
	--color-text: #{$text-color};
}

body {
	font-family: 'Open Sans', serif;
	color: $text-color;
	color: var(--color-text);
	background-color: $background-color;
	background-color: var(--color-background);
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Saira Extra Condensed', serif;
	font-weight: 700;
	text-transform: uppercase;
	color: $title-color;
	color: var(--color-title);
}
.subheading {
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Saira Extra Condensed', serif;
	font-size: 1.35rem;
}
.list-social-icons a {
	color: $title-color;
	color: var(--color-title);
}
.list-social-icons a:hover {
	color: $primary-color;
	color: var(--color-primary);
}
.list-social-icons a .fa-lg {
	font-size: 1.75rem;
}
.list-icons {
	font-size: 3rem;
}
.list-icons .list-inline-item i:hover {
	color: $primary-color;
	color: var(--color-primary);
}
.bg-primary {
	background-color: $primary-color !important;
	background-color: var(--color-primary) !important;
}
.btn-primary {
	background-color: $primary-color !important;
	background-color: var(--color-primary) !important;
}
.text-primary {
	color: $primary-color !important;
	color: var(--color-primary) !important;
}

.btn-outline-primary {
	color: $primary-color;
	color: var(--color-primary);
	border-color: $primary-color;
	border-color: var(--color-primary);
}

.bg-secondary {
	background-color: $secondary-color !important;
	background-color: var(--color-secondary) !important;
}
.btn-secondary {
	background-color: $secondary-color !important;
	background-color: var(--color-secondary) !important;
}
.text-secondary {
	color: $secondary-color;
	color: var(--color-secondary) !important;
}
.btn-outline-secondary {
	color: $secondary-color;
	color: var(--color-secondary);
	border-color: $secondary-color;
	border-color: var(--color-secondary);
}

a {
	color: $primary-color;
	color: var(--color-primary);
}
a:active,
a:focus,
a:hover {
	color: $primary-color;
	color: var(--color-secondary);
}

/* darkmode fix */

.card {
	background-color: var(--color-background);
	border-color: var(--color-title);
}

.list-group-item {
	background-color: var(--color-background);
	border-color: var(--color-text);
	color: var(--color-title);
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: #{$dark-background-color};
		--color-primary: #{$dark-primary-color};
		--color-secondary: #{$dark-secondary-color};
		--color-title: #{$dark-title-color};
		--color-text: #{$dark-text-color};
	}
	.markdown-body {
		background-color: var(--color-background) !important;
	}
	.btn-outline-dark {
		color: var(--color-title);
		border-color: var(--color-text);
	}
}
