@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: #ffffff;
	--color-primary: #2e74b5;
	--color-secondary: #1f3864;
	--color-title: #3b3838;
	--color-text: #868e96;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-background: #000000;
        --color-primary: #690092;
        --color-secondary: #c123ff;
        --color-title: #ffffff;
        --color-text: #c1bdc2;
    }
}

body {
	font-family: 'Open Sans', serif;
	@apply text-base text-text bg-background;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Saira Extra Condensed', serif;
	@apply text-title uppercase font-bold;
}

@layer components {
	.resume-section {
		@apply border-b border-secondary;
		@apply py-20 p-4 md:py-12 lg:p-12;
		@apply sm:min-h-screen;
		@apply print:py-4 print:border-b-0 print:first:pt-0 print:first:mt-0;
		@apply flex flex-col;
	}

	.resume-section h1 {
		@apply text-5xl leading-[3rem] md:text-pageTitle md:leading-pageTitle;
	}

	.resume-section h2 {
		@apply text-3xl md:text-pageSection;
		@apply print:text-center;
	}

	.resume-item {
		@apply flex flex-col md:flex-row;
		@apply mb-5;
		@apply print:break-inside-avoid;
		page-break-inside: avoid;
	}

	.icon {
		@apply inline-block w-[32px] h-[32px];
	}

	.popup-modal {
		@apply z-40;
		@apply fixed top-0 bottom-0 right-0 left-0;
		@apply flex justify-center items-center;
		@apply pointer-events-none;
	}
}

@layer utilities {
	.subheading {
		font-family: 'Saira Extra Condensed', serif;
		@apply uppercase font-medium text-lg;
	}
	.resume-date {
		@apply min-w-max md:min-w-[12rem];
	}	
}