/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */ /* Import only what you need from Bootstrap */

@import 'bootstrap/scss/root';

@import 'bootstrap/scss/reboot';

@import 'bootstrap/scss/type';

@import 'bootstrap/scss/accordion';

@import 'bootstrap/scss/alert';

@import 'bootstrap/scss/badge';

@import 'bootstrap/scss/breadcrumb';

@import 'bootstrap/scss/buttons';

@import 'bootstrap/scss/button-group';

@import 'bootstrap/scss/card';

@import 'bootstrap/scss/carousel';

@import 'bootstrap/scss/close';

@import 'bootstrap/scss/containers';

@import 'bootstrap/scss/dropdown';

@import 'bootstrap/scss/forms';

@import 'bootstrap/scss/grid';

@import 'bootstrap/scss/images';

@import 'bootstrap/scss/list-group';

@import 'bootstrap/scss/modal';

@import 'bootstrap/scss/nav';

@import 'bootstrap/scss/navbar';

@import 'bootstrap/scss/offcanvas';

@import 'bootstrap/scss/pagination';

@import 'bootstrap/scss/popover';

@import 'bootstrap/scss/progress';

@import 'bootstrap/scss/spinners';

@import 'bootstrap/scss/tables';

@import 'bootstrap/scss/toasts';

@import 'bootstrap/scss/tooltip';

@import 'bootstrap/scss/helpers';

@import 'bootstrap/scss/utilities';

@import 'bootstrap/scss/utilities/api';

@import '@fontsource/fira-mono';

/* Stuff */

body {
	font-family: 'Open Sans', serif;
	padding-top: 54px;
	color: #868e96;
}
@media (min-width: 992px) {
	body {
		padding-top: 0;
		padding-left: 17rem;
	}
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Saira Extra Condensed', serif;
	font-weight: 700;
	text-transform: uppercase;
	color: $text-color;
}
h1 {
	font-size: 6rem;
	line-height: 5.5rem;
}
h2 {
	font-size: 3.5rem;
}
.subheading {
	text-transform: uppercase;
	font-weight: 500;
	font-family: 'Saira Extra Condensed', serif;
	font-size: 1.35rem;
}
.list-social-icons a {
	color: $text-color;
}
.list-social-icons a:hover {
	color: $primary-color;
}
.list-social-icons a .fa-lg {
	font-size: 1.75rem;
}
.list-icons {
	font-size: 3rem;
}
.list-icons .list-inline-item i:hover {
	color: $primary-color;
}
.bg-primary {
	background-color: $primary-color !important;
}
.text-primary {
	color: $primary-color !important;
}
.bg-secondary {
	background-color: $secondary-color !important;
}
.text-secondary {
	color: $secondary-color !important;
}
a {
	color: $primary-color;
}
a:active,
a:focus,
a:hover {
	color: $secondary-color;
}

@media (max-width: 768px) {
	h1 {
		font-size: 3rem;
		line-height: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
}