/* Variables and mixins declared here will be available in all other SCSS files */
@import 'bootstrap/scss/functions'; /* Override Bootstrap's variables here */
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

$background-color: #ffffff;
$sidebar-base-width: 17rem;
$primary-color: #2e74b5;
$secondary-color: #1f3864;
$title-color: #3b3838;
$text-color: #868e96;

$dark-background-color: #000000;
$dark-primary-color: #690092;
$dark-secondary-color: #c123ff;
$dark-title-color: #ffffff;
$dark-text-color: #c1bdc2;
